.experience-item-p {
  width: 100%;
  line-height: 20px;
  margin-bottom: 5px;
  font-size: 1.3rem;
  position: relative;
}

.experience-item-p::before {
  content: "";
  width: 40px;
  right: 0;
  height: 40px;
  position: absolute;
  -webkit-animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite;
  background: url("../../public/star.svg");
  background-size: contain;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
